* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Topic {
  text-align: center;
  margin: 20px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 46rem;
  margin-left: 31rem;
}
/* .Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  padding: 10px 20px;
  color: white;
  font-family: Arial, sans-serif;
}  */











